body {
	// background: #f4f4f4;
	font-family: 'Tahoma', 'Helvetica Neue', sans-serif;
	color: #455A64;
}

.show-attributes-select {
	color: #03a9f4;
}

.attributes-wrapper {
	padding: 1em 0;
	margin-bottom: 1.5em;
}

.attribute-title {
	display: block;
	font-weight: bold;
}
.attribute-remove {
	float: right;
}


.specialty-attribute {
	margin: 10px 0;
	padding: 1em 14px 2em;
	width: 400px;
	border: 1px solid #f4f4f4;
	&__display {
		padding: 14px 0;
		width: 280px;
		border-bottom: 1px solid #DDD;
		cursor: pointer;
		font-size: 13px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.category-group {
	margin-top: 8px;
	&__item {
		cursor: pointer;
		margin-bottom: 4px;
		display: block;
	}
	&__label {
		margin-left: 4px;
		display: inline-block;
	}
	&__sub-items {
		padding-left: 2em;
	}
}
.specialty-item {
	cursor: pointer;
	&__label {
		display: inline-block;
		margin-left: 4px;
		font-size: 13px;
	}
}

.checkbox {
	display: inline-block;
}