body {
	// background: #f4f4f4;
	font-family: 'Tahoma', 'Helvetica Neue', sans-serif;
	color: #455A64;
}
* {
	box-sizing: border-box;
}
input {
	&:focus {
		outline: none;
	}
}

// ----------

.show-attributes-select {
	color: #03a9f4;
}

.attributes-wrapper {
	padding: 1em 0;
	margin-bottom: 1.5em;
}

.attribute-title {
	display: block;
	font-weight: bold;
}
.attribute-remove {
	float: right;
}


.specialty-attribute {
	margin: 10px 0;
	padding: 1em 14px 2em;
	width: 400px;
	border: 1px solid #f4f4f4;
	&__preview {
		padding: 10px 0;
		width: 280px;
		border-bottom: 1px solid #DDD;
		cursor: pointer;
		font-size: 13px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: 24px;
		position: relative;
		&:after {
			// triangle
			content: "";
			display: inline-block;
			border: 5px solid transparent;
			border-top: 8px solid #d1d1d1;
			position: absolute;
			right: 2px;
			bottom: 9px;
		}
	}
	&__options-popup {
		background: white;
		padding: 1em;
		box-shadow: 0 2px 3px 1px rgba(0,0,0,0.15);
		margin-top: 10px;
	}
	&__search {
		input {
			width: 100%;
			padding: 6px 12px;
		}
	}
	&__categories-wrapper {
		margin-top: 1em;
		max-height: 400px;
		overflow-y: auto;
	}
}

.category-group {
	margin-top: 8px;
	&__item {
		cursor: pointer;
		margin-bottom: 4px;
		display: block;
	}
	&__label {
		margin-left: 4px;
		display: inline-block;
	}
	&__sub-items {
		padding-left: 2em;
	}
}
.specialty-item {
	cursor: pointer;
	&__label {
		display: inline-block;
		margin-left: 4px;
		font-size: 13px;
	}
}

.checkbox {
	display: inline-block;
}

.popup {
	position: absolute;
	z-index: 5;

	&.anim_fade {
		animation: 0.2s ease fadeIn;
	}
	&.anim_grow-fade {
		animation: 0.15s ease fadeInGrow both;
	}
}